.Wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.ClientRoutes {
    height: 80vh;
    width: 80vw;
    background-color: white;
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    .header {
        padding: var(--padding);
        display: flex;
        flex-direction: column;
        gap: .67rem;
        h1 {
            padding: 0;
        }
        .distance {
            font-size: 1rem;
        }
        border-bottom: 1px solid lightgray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ClientRouteCards {
        overflow-x: hidden;
        overflow-y: scroll;
        padding: calc(var(--padding) * 2);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--gap);
    }
}

.closeButton {
    font-size: 2rem;
    position: absolute;
    justify-self: end;
    transform: translate(-1rem,1rem);
    box-shadow: var(--boxShadow);
    height: 2rem;
    width: 2rem;
    border-radius: var(--borderRadius);
    cursor: pointer;
}