.ClientRouteCard {

    box-shadow: var(--boxShadow);
    padding: var(--padding);
    border-radius: var(--borderRadius);
    display: grid;
    grid-template-columns: 1fr auto;
    width: 20rem;
    @media screen and (max-width:420px) {
        width: 15rem;
    }
    .attributes {
        display: flex;
        justify-content: space-between;
        .attribute {
            display: flex;
            gap: var(--gap);
            align-items: center;
            .icon,.value {
                display: flex;
                align-items: center;
            }
        }
    }

}