.Toolbar {
    border: 1px solid lightgray;
    border-bottom: none;
    display: grid;
    grid-template-columns: 1fr auto;
    .registerButtonContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        .registerButton {
            box-shadow: var(--boxShadow);
            padding: 6px;
            border-radius: var(--borderRadius);
            display: flex;
            align-items: center;
            gap: 6px;
            cursor: pointer;
            &:hover {
                background-color: lightgray;
            }
        }
        .registerButtonOn {
            background-color: gray;
            &:hover {
                background-color: gray;
            }
        }
    }
    .RegisterFormContainer {
        grid-column: span 2;
        height: 0;
        transition: .5s;
        overflow: hidden;
    }
    .RegisterFormContainerOn {
        height: 200px;
        transition: .5s;
    }
}